<div class="px-4 py-3 rounded-md bg-primary-100 dark:bg-primary-900">
    <p><b>By the way, I'm MAKING A GAME for Steam Deck! 🔥🔥🔥</b></p>
    {{ $mp4 := resources.Get "img/collage_small_handheldquest.mp4" }}
    {{ $webm := resources.Get "img/collage_small_handheldquest.webm" }}
    <video controls autoplay loop muted loading="lazy">
        <source src="{{ $mp4.RelPermalink }}" width="100%" height="auto" type="video/mp4">
        <source src="{{ $webm.RelPermalink }}" width="100%" height="auto" type="video/webm">
    </video>
    <p>I fell in 🥰 with the Deck and craved an <b>easy to pick up and play rogue-lite</b> for it, with <b>twin-stick controls</b>
        and <b>beautiful retro visuals</b>, designed with Steam Deck in mind for performance and battery life.</p>
        <h3><a
            class="block text-center"
            href="https://store.steampowered.com/app/2207230/Black_Dragon_Mage/?utm_source=handheldquest&utm_medium=blog&utm_content=cta_button&utm_campaign=prelaunch"
            target="_blank"
            style="color: white !important; background: linear-gradient(to bottom, #a4d007 5%, #536904 95%); border-radius: 3px; padding: 3px; text-decoration: none !important;">
            🧙‍♂️ Please WISHLIST on Steam! 🐲</a></p></h3>

            <p>Check it out on Steam, I appreciate your support! Wishlisting helps a ton with solo indie visibility.<br>

    <div class="flex justify-center items-center"><steam-app appid="2207230"></steam-app></div>
</div>