<div class="px-4 py-3 rounded-md bg-primary-100 dark:bg-primary-900">
    <p><b>By the way, I'm MAKING A GAME for the Steam Deck! 🔥🔥🔥</b></p><p> I fell in 🥰 with the Deck and craved an easy to pick up and play rogue-lite for it, with twin-stick controls and beautiful retro visuals, designed with the Deck in mind for performance and battery life.</p><p>It's super hard to get visibility as a solo indie dev, so: <br><a href="https://store.steampowered.com/app/2207230/Black_Dragon_Mage/?utm_source=handheldquest&utm_medium=blog&utm_campaign=prelaunch" target="_blank">🧙‍♂️ Please WISHLIST the game on Steam! 🐲</a></p>

    <steam-app appid="2207230"></steam-app>
</div>