<h3>
    Tip by the Author: By the way, I'm making an action-roguelite top-down
    shooter for Steam Deck!
</h3>
<a
    href="https://store.steampowered.com/app/2207230/Black_Dragon_Mage/?utm_source=handheldquest&utm_medium=gif&utm_campaign=demo"
    target="_blank"
    ><img src="/blackdragonmage-gameplay.gif"
/></a>
<h3>I made this, thanks for checking it out:</h3>
<iframe
    src="https://store.steampowered.com/widget/{{ 2207230 }}/?utm_source=handheldquest&utm_campaign=ea&utm_medium=imadethis"
    frameborder="0"
    width="646"
    height="190"
    loading="lazy"
    style="max-width: 100%; border: none; overflow: hidden"
></iframe>
