{{- /* Shortcode: steam-app Usage: {{< steam-app appid="123456" >}} Renders an
official Steam widget iframe. */ -}} {{- $appid := .Get "appid" -}} {{- if
$appid -}}
<iframe
    src="https://store.steampowered.com/widget/{{ $appid }}/?utm_source=handheldquest&utm_campaign=ea&utm_medium=widget"
    frameborder="0"
    width="646"
    height="190"
    loading="lazy"
    style="max-width: 100%; border: none; overflow: hidden"
></iframe>
{{- else -}}
<!-- Missing appid in steam-app shortcode -->
{{- end -}}
